/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    border-top: 9px solid transparent;
    font-size: 14px;
    display: none;
    position: absolute;
    background-color: rgba(241, 241, 241, 0);
    min-width: 140px;
    z-index: 1;
}

.dropdown-content.dropdown-upper {
    text-align: center;
    min-width: 100px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #414141;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover { color: #FF5A5F;}

/* Show the dropdown menu on hover */
.nav-item:hover .dropdown-content {display: block;}


