.partial-wrapper {
    display: block;
    width: 100%;
    font-weight: 700;
}

.partial-block {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 24px;
    border-radius: 2px;
    padding: 8px;
    border: 1px solid #ddd;
    color: #414141;
}

.partial-wrapper button {
    margin-top: 12px;
}