.partial-wrapper {
    display: block;
    width: 100%;
    border-radius: 2px;
    font-weight: 700;
}

.partial-block {
    margin: 0 auto;
    background: hotpink;
    width: 60%;
    margin-bottom: 24px;
}